@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body{
  background-color: #325438;
}

/*Estilos del menu*/
.menu {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu li {
    display: inline;
    margin-right: 100px; /* Ajusta el espacio entre cada página según sea necesario */
  }
  
  .menu a {
    color: #8FB996;
    text-decoration: none;
    font-size: 20px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 700;
  }
  
  .logo {
    height: 60px;
    width: 60px;
  }

  /*Estilos página home*/

  .homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeTitle{
    color: #A1CCA5;
    font-weight: 700;
    font-size: 40px;
    height: 170px;
  }

  .hLogo{
    height: 180px;
    width: 180px;
  }

  .homeText{
    width: 35%;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
  }

  /*Estilos de la página de Actividades*/

  .actContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .actTitle{
    width: 50%;
    display: flex;
    justify-content: center;
    color: #8FB996;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 26px;
  }

  .actList{
    margin-bottom: 15px;
    width: 38%;
    padding: 15px;
  }

  .actividad{
    display: flex;
  }

  .actImg{
    margin-top: 14px;
    margin-right: 25px;
  }
  
  .imgActividad{
    height: 100px;
    width: 100px;
  }

  .actDescription{
    padding: 0;
    box-sizing: border-box;
  }

  .actDescription h2{
    color: #FFFFFF;
    font-size: 15px;
  }

  .actDescription p{
    color: #FFFFFF;
    font-size: 15px;
  }

  .actDescription ul{
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 15px;
  }